<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysPhageGenomeBasicMapper">

    <resultMap type="SysPhageGenomeBasic" id="SysPhageGenomeBasicResult">
        <result property="basicId"    column="basic_id"    />
        <result property="phageGenomeAccession"    column="phage_genome_accession"    />
        <result property="systemFamily"    column="system_family"    />
        <result property="proteinIds"    column="protein_ids"    />
        <result property="protein"    column="protein"    />
        <result property="inhibitedType"    column="inhibited_type"    />
        <result property="phage"    column="phage"    />
        <result property="host"    column="host"    />
        <result property="length"    column="length"    />
        <result property="spare1"    column="spare1"    />
        <result property="spare2"    column="spare2"    />
        <result property="spare3"    column="spare3"    />
        <result property="spare4"    column="spare4"    />
        <result property="spare5"    column="spare5"    />
        <result property="molecularWeight"    column="molecular_weight"    />
        <result property="hydrophobicity"    column="hydrophobicity"    />
        <result property="isoelectricPoint"    column="isoelectric_point"    />
        <result property="pID" column="p_id" />
    </resultMap>

    <sql id="selectSysPhageGenomeBasicVo">
        select basic_id, phage_genome_accession, system_family, protein_ids, protein, inhibited_type,
               phage, host, length, spare1, spare2, spare3, spare4, spare5,molecular_weight, hydrophobicity,isoelectric_point,p_id from sys_phage_genome_basic
    </sql>

    <select id="selectSysPhageGenomeBasicList" parameterType="SysPhageGenomeBasic" resultMap="SysPhageGenomeBasicResult">
        <include refid="selectSysPhageGenomeBasicVo"/>
        <where>
            <if test="phageGenomeAccession != null  and phageGenomeAccession != ''"> and phage_genome_accession = #{phageGenomeAccession}</if>
            <if test="systemFamily != null  and systemFamily != ''"> and system_family = #{systemFamily}</if>
            <if test="proteinIds != null  and proteinIds != ''"> and protein_ids = #{proteinIds}</if>
            <if test="protein != null  and protein != ''"> and protein = #{protein}</if>
            <if test="inhibitedType != null  and inhibitedType != ''"> and inhibited_type = #{inhibitedType}</if>
            <if test="phage != null  and phage != ''"> and phage = #{phage}</if>
            <if test="host != null  and host != ''"> and host = #{host}</if>
            <if test="length != null  and length != ''"> and length = #{length}</if>
            <if test="spare1 != null  and spare1 != ''"> and spare1 = #{spare1}</if>
            <if test="spare2 != null  and spare2 != ''"> and spare2 = #{spare2}</if>
            <if test="spare3 != null  and spare3 != ''"> and spare3 = #{spare3}</if>
            <if test="spare4 != null  and spare4 != ''"> and spare4 = #{spare4}</if>
            <if test="spare5 != null  and spare5 != ''"> and spare5 = #{spare5}</if>
            <if test="molecularWeight != null  and molecularWeight != ''"> and molecular_weight = #{molecularWeight}</if>
            <if test="hydrophobicity != null  and hydrophobicity != ''"> and hydrophobicity = #{hydrophobicity}</if>
            <if test="isoelectricPoint != null  and isoelectricPoint != ''"> and isoelectric_point = #{isoelectricPoint}</if>
        </where>
    </select>

    <select id="selectSysPhageGenomeBasicByBasicId" parameterType="Long" resultMap="SysPhageGenomeBasicResult">
        <include refid="selectSysPhageGenomeBasicVo"/>
        where basic_id = #{basicId}
    </select>

    <insert id="insertSysPhageGenomeBasic" parameterType="SysPhageGenomeBasic" useGeneratedKeys="true" keyProperty="basicId">
        insert into sys_phage_genome_basic
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="phageGenomeAccession != null">phage_genome_accession,</if>
            <if test="systemFamily != null">system_family,</if>
            <if test="proteinIds != null">protein_ids,</if>
            <if test="protein != null">protein,</if>
            <if test="inhibitedType != null">inhibited_type,</if>
            <if test="phage != null">phage,</if>
            <if test="host != null">host,</if>
            <if test="length != null">length,</if>
            <if test="spare1 != null">spare1,</if>
            <if test="spare2 != null">spare2,</if>
            <if test="spare3 != null">spare3,</if>
            <if test="spare4 != null">spare4,</if>
            <if test="spare5 != null">spare5,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="phageGenomeAccession != null">#{phageGenomeAccession},</if>
            <if test="systemFamily != null">#{systemFamily},</if>
            <if test="proteinIds != null">#{proteinIds},</if>
            <if test="protein != null">#{protein},</if>
            <if test="inhibitedType != null">#{inhibitedType},</if>
            <if test="phage != null">#{phage},</if>
            <if test="host != null">#{host},</if>
            <if test="length != null">#{length},</if>
            <if test="spare1 != null">#{spare1},</if>
            <if test="spare2 != null">#{spare2},</if>
            <if test="spare3 != null">#{spare3},</if>
            <if test="spare4 != null">#{spare4},</if>
            <if test="spare5 != null">#{spare5},</if>
         </trim>
    </insert>

    <update id="updateSysPhageGenomeBasic" parameterType="SysPhageGenomeBasic">
        update sys_phage_genome_basic
        <trim prefix="SET" suffixOverrides=",">
            <if test="phageGenomeAccession != null">phage_genome_accession = #{phageGenomeAccession},</if>
            <if test="systemFamily != null">system_family = #{systemFamily},</if>
            <if test="proteinIds != null">protein_ids = #{proteinIds},</if>
            <if test="protein != null">protein = #{protein},</if>
            <if test="inhibitedType != null">inhibited_type = #{inhibitedType},</if>
            <if test="phage != null">phage = #{phage},</if>
            <if test="host != null">host = #{host},</if>
            <if test="length != null">length = #{length},</if>
            <if test="spare1 != null">spare1 = #{spare1},</if>
            <if test="spare2 != null">spare2 = #{spare2},</if>
            <if test="spare3 != null">spare3 = #{spare3},</if>
            <if test="spare4 != null">spare4 = #{spare4},</if>
            <if test="spare5 != null">spare5 = #{spare5},</if>
        </trim>
        where basic_id = #{basicId}
    </update>

    <delete id="deleteSysPhageGenomeBasicByBasicId" parameterType="Long">
        delete from sys_phage_genome_basic where basic_id = #{basicId}
    </delete>

    <delete id="deleteSysPhageGenomeBasicByBasicIds" parameterType="String">
        delete from sys_phage_genome_basic where basic_id in
        <foreach item="basicId" collection="array" open="(" separator="," close=")">
            #{basicId}
        </foreach>
    </delete>
</mapper>
